node_modules/
**/node_modules/
.DS_Store

# Env Files
.env
.env.local
.env.*.local
*.env

# Build outputs
/dist
/frontend/dist
/rest-api/uploads

# Temporary and Documentation Files
*.pdf
*.txt
DersVePuanlandırmaFinal/
tmp_pdf/